/* style.css */
/* stylesheet for bradenfrazer.com */
/* colors:
light grey: #f4f4f4;
dark: #232323;
maroon: #500000;
*/
/* Global
--------------------------------------------- */
body {
  background: #fff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #232323;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.hide {
  display: none;
}

.content {
  padding: 2rem 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Fjalla One', sans-serif;
}

.page-title h1:after {
  background: none repeat scroll 0 0 #FFF;
  bottom: -10px;
  content: "";
  display: block;
  height: 0.2rem;
  position: relative;
  width: 75px;
}

.bg-color, .bg-dark {
  color: #f4f4f4;
}

/* Hyperlinks */
a {
  color: #500000;
}

a:hover {
  color: #232323;
}

/* Backgrounds */
.bg-light {
  background-color: #f2f2f2 !important;
  background:
    radial-gradient(circle farthest-side at 0% 50%, #f4f4f4 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #e7e7e7 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(#f4f4f4 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #f4f4f4 0)0 0,
    linear-gradient(150deg, #f4f4f4 24%, #e7e7e7 0, #e7e7e7 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #e7e7e7 0, #e7e7e7 76%, #f4f4f4 0)0 0,
    linear-gradient(30deg, #f4f4f4 24%, #e7e7e7 0, #e7e7e7 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #e7e7e7 0, #e7e7e7 76%, #f4f4f4 0)0 0,
    linear-gradient(90deg, #e7e7e7 2%, #f4f4f4 0, #f4f4f4 98%, #e7e7e7 0%)0 0 #f4f4f4;
  background-size: 40px 60px;
}

.bg-dark {
  background-color: #232323;
}

.bg-color {
  background-color: #500000;
}

/* Buttons */
.btn {
  border-width: 0.1rem;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-outline-primary {
  color: #500000;
  border-color: #500000;
}

.btn-outline-primary:hover {
  background-color: #500000;
  border-color: #500000;
}

/* Cards */
.card-header {
  background-color: #500000;
  color: #fff;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Header
--------------------------------------------- */
.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  max-width: 80px;
  margin: 0.5rem 0;
  margin-right: 3rem;
}

.navbar .socials {
  display: flex;
}

.navbar-light .navbar-nav .nav-link {
  color: #500000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  font-weight: bold;
  color: #500000;
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .navbar .socials {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 2rem 0 0;
  }

  .navbar-nav .nav-link:after {
    content: " | ";
    color: #232323;
    font-size: 100%;
    margin: 0 0 0 2rem;
    font-weight: normal;
  }
}

.navbar-nav .nav-item:last-of-type .nav-link:after {
  display: none;
}

.nav-item svg {
  fill: #500000;
}

.nav-item:hover svg {
  fill: rgba(0, 0, 0, .7);
}

/* Homepage
--------------------------------------------- */
/* Hero */
.jumbotron {
  background-image: url("../images/design/hero.jpg");
  background-size: cover;
  background-position: 50% 25%;
  min-height: 65vh;
  border-radius: 0;
  justify-content: center;
}

.jumbotron h1,
.jumbotron p {
  color: #fff;
  z-index: 2;
}

@media (max-width: 991px) {
  .jumbotron {
    min-height: 50vh;
    justify-content: flex-end;
  }

  .jumbotron>.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, .5));
    z-index: 1;
  }

  .jumbotron>.container {
    position: relative;
    z-index: 2;
  }
}

/* Services */
.services svg {
  width: 100%;
  max-width: 125px;
  margin-bottom: 1rem;
  fill: #000;
}

.services h2 {
  color: #000;
}

.services .col-sm:hover svg {
  fill: #500000;
}

.services .col-sm:hover h2 {
  color: #500000;
}

.services .col-sm a:hover {
  text-decoration: none;
}

/* About
--------------------------------------------- */
@media (max-width: 991px) {
  .about .col-lg:first-of-type {
    order: 2;
  }

  .about .col-lg:last-of-type {
    order: 1;
    margin-bottom: 1rem;
  }
}

.about .headshot img {
  max-width: 600px;
  width: 100%;
  border-radius: 50%;
}

/* Work
--------------------------------------------- */
.web-projects .row .col-sm-12.col-md-6, .photography .row .col-sm-12.col-md-6.col-lg-4, .graphic-design .row .col-sm-12.col-md-6.col-lg-4, .media-production .row .col-sm-12.col-md-6.col-lg-4, .modal .row .col-sm-12.col-md-6.col-lg-4 {
  margin-bottom: 2rem;
}

.photography-gallery {
  flex-wrap: wrap;
}

.photography-gallery .lightbox {
  flex: 1 0 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .photography-gallery .lightbox {
    flex: 1 0 50%;
  }
}

@media (min-width: 992px) {
  .photography-gallery .lightbox {
    flex: 1 0 33%;
  }
}

.photography-gallery .lightbox img {
  object-fit: cover;
  height: 300px;
  margin: 1rem;
}

.photography-gallery .lightbox img:hover {
  filter: brightness(50%);
  transition: 0.25s;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 75vw;
    max-height: 75vh;
  }
}

@media (max-width: 991px) {
  .modal-footer {
    flex-direction: column;
  }

  .modal-footer a {
    margin-bottom: 1rem;
  }
}

/* Contact
--------------------------------------------- */
.contact-form .form-control {
  border: 0.1rem solid #500000;
  border-radius: 0;
}

.contact-info svg {
  width: 25px;
  height: 25px;
}

@media (min-width: 992px) {
  .contact-info .col-sm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-info svg {
    margin-right: 1rem;
  }

  .contact-info p {
    margin: 0;
  }
}
